.container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 45px;
    max-width: 100%;

    @media (min-width: '768px') {
        margin-left: 236px;
        width: auto;
    }

    @media (min-width: '1200px') {
        margin-left: 60px + 236px;
    }

    @media (min-width: '1400px') {
        margin-left: 120px + 265px;
        margin-right: 120px + 132.5px;
    }

}
