.c-date {
    display: grid;
    justify-content: center;

    @include media-breakpoint-up(md) {
        justify-content: end;
    }
    
    &__content {
        margin-right: 0px;
        margin-top: 20px;

        @include media-breakpoint-up(md) {
            margin-right: 75px;
        }
    }
}