.c-navigation {
    background-color: rgba($color: #FFFFFF, $alpha: .75);
    padding: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    & .nav-item:hover {
        & .c-navigation__link-underline {
            width: 100%;
            transition: width 0.4s ease-in-out;
        }
    }

    @include media-breakpoint-up(md) {
        padding: 8px 16px;
        width: 236px;
        height: 100vh;
        border-right: 2px solid;
        position: fixed;
        top: 0;
    }

    @include media-breakpoint-up(xl) {
        border-left: 2px solid;
        margin-left: 60px;
    }

    @include media-breakpoint-up(xxl) {
        margin-left: 120px;
    }

    &__header {
        text-align: center;
        width: 100%;
        height: 275px;
        margin: auto;

        @include media-breakpoint-up(md) {
            width: 236px;
        }

        & h1 {
            font-size: 18px;
            font-weight: bold;

            @include media-breakpoint-up(md) {
                font-size: 24px;
            }
        }
    }

    &__img {
        width: 50px;
        margin-bottom: 20px;
    }

    &__nav {
        font-size: 18px;
        line-height: 30px;
        background-color: #FFFFFF;
        width: 100%;
        display: none;
        border-top: 2px solid rgb(220, 53, 69);
        border-bottom: 2px solid rgb(220, 53, 69);
        padding: 8px 16px;

        @include media-breakpoint-up(md) {
            background-color: transparent;
            display: block;
            border-top: 0;
            border-bottom: 0;
        }
    }


    &__button {
        display: inline-block;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &__link {
        color: $dark;
        border-bottom: 2px solid transparent;

        &--dark-orange:hover {
            transition: color .5s ease-in-out;
            color: $v-dark-orange;
        }
        &--orange:hover {
            transition: color .5s ease-in-out;
            color: $v-orange;
        }
        &--yellow:hover {
            transition: color .5s ease-in-out;
            color: $v-yellow;
        }
        &--yellow-green:hover {
            transition: color .5s ease-in-out;
            color: $v-yellow-green;
        }
        &--green:hover {
            transition: color .5s ease-in-out;
            color: $v-green;
        }
        &--green-blue:hover {
            transition: color .5s ease-in-out;
            color: $v-green-blue;
        }
        &--blue:hover {
            transition: color .5s ease-in-out;
            color: $v-blue;
        }
        &--purple:hover {
            transition: color .5s ease-in-out;
            color: $v-purple;
        }
    }

    &__link-underline {
        height: 2px;
        width: 0%;

        &--dark-orange {
            background-color: $v-dark-orange;
        }
        &--orange {
            background-color: $v-orange;
        }
        &--yellow {
            background-color: $v-yellow;
        }
        &--yellow-green {
            background-color: $v-yellow-green;
        }
        &--green {
            background-color: $v-green;
        }
        &--green-blue {
            background-color: $v-green-blue;
        }
        &--blue {
            background-color: $v-blue;
        }
        &--purple {
            background-color: $v-purple;
        }
    }

    &__subnav {
        background-color: aqua;
        position: fixed;
        top: 0;
        margin-right: 500px;
    }


    &--mobile {
        position: fixed;
        top: 275px;
        width: 100%;
        background-color: $white;
        padding: 8px 16px;
        border-top: 2px solid $danger;
        border-bottom: 2px solid $danger;

    }
}