.c-navigation {
    background-color: rgba($color: #FFFFFF, $alpha: .75);
    padding: 0;

    @media (min-width: '768px') {
        padding: 8px 16px;
        width: 236px;
        height: 100vh;
        border-right: 2px solid;
        z-index: 1;
    }

    @media (min-width: '1200px') {
        border-left: 2px solid;
        margin-left: 60px;
    }

    @media (min-width: '1400px') {
        margin-left: 120px;
    }

    &__header {
        text-align: center;
        width: 100%;
        height: 275px;
        margin: auto;

        @media (min-width: '768px') {
            width: 236px;
        }

        & h1 {
            font-size: 18px;
            font-weight: bold;

            @media (min-width: '768px') {
                font-size: 24px;
            }
        }
    }

    &__img {
        width: 50px;
        margin-bottom: 20px;
    }

    &__nav {
        font-size: 18px;
        line-height: 30px;
        background-color: #FFFFFF;
        width: 100%;
        display: none;
        border-top: 2px solid rgb(220, 53, 69);
        border-bottom: 2px solid rgb(220, 53, 69);
        padding: 8px 16px;

        @media (min-width: '768px') {
            background-color: transparent;
            display: block;
            border-top: 0;
            border-bottom: 0;
        }
    }


    &__button {
        display: inline-block;

        @media (min-width: '768px') {
            display: none;
        }
    }

    &__link {
        color: $dark;
        border-bottom: 2px solid transparent;
        transition: all .5s ease-in-out;

        &--gray:hover {
            // color: $gray;
            // border-color: $gray;
        }
        &--success:hover {
            color: $success;
            border-color: $success;
        }
        &--warning:hover {
            color: $warning;
            border-color: $warning;
        }
        &--info:hover {
            color: $info;
            border-color: $info;
        }
        &--primary:hover {
            color: $primary;
            border-color: $primary;
        }
    }

    &__subnav {
        background-color: aqua;
        position: fixed;
        top: 0;
        margin-right: 500px;
    }

}