.c-subnavigation {
    position: fixed;
    top: 275px;
    width: 100%;
    background-color: $white;
    padding: 8px 16px;

    &--success {
        border-top: 2px solid $success;
        border-bottom: 2px solid $success;
    }
    &--warning {
        border-top: 2px solid $warning;
        border-bottom: 2px solid $warning;
    }
    &--info {
        border-top: 2px solid $info;
        border-bottom: 2px solid $info;
    }
    &--primary {
        border-top: 2px solid $primary;
        border-bottom: 2px solid $primary;
    }

    @media (min-width: '768px') {
        background-color:transparent;
        top: 0;
        width: 236px;
        margin-left: 234px;
        height: 100vh;
        background-color: $white;
        z-index: 2;
        animation: openTab .3s ease-in-out .1s;
        border-top: 0;
        border-bottom: 0;

        &--success {
            border-left: 2px solid $success;
            border-right: 2px solid $success;
        }
        &--warning {
            border-left: 2px solid $warning;
            border-right: 2px solid $warning;
        }
        &--info {
            border-left: 2px solid $info;
            border-right: 2px solid $info;
        }
        &--primary {
            border-left: 2px solid $primary;
            border-right: 2px solid $primary;
        }
    }

    @include media-breakpoint-up(xl){
        margin-left: 294px;
    }

    @include media-breakpoint-up(xxl){
        margin-left: 354px;
    }
    
}

@keyframes openTab {
    0% {
        width: 0;
    }
    100% {
        width: 236px;
    }
}