.c-subnavigation {
    position: absolute;
    top: 275px;
    width: 100%;
    min-height: 705px - 275px;
    background-color: $white;
    padding: 8px 16px;
    z-index: 2;
    font-size: 18px;
    line-height: 30px;

    &--orange {
        border-top: 2px solid $v-orange;
        border-bottom: 2px solid $v-orange;
    }
    &--yellow {
        border-top: 2px solid $v-yellow;
        border-bottom: 2px solid $v-yellow;
    }
    &--yellow-green {
        border-top: 2px solid $v-yellow-green;
        border-bottom: 2px solid $v-yellow-green;
    }
    &--green {
        border-top: 2px solid $v-green;
        border-bottom: 2px solid $v-green;
    }

    @media (min-width: '768px') {
        background-color:transparent;
        position: fixed;
        top: 0;
        width: 236px;
        margin-left: 234px;
        height: 100vh;
        background-color: $white;
        animation: openTab .3s ease-in-out .1s;
        border-top: 0;
        border-bottom: 0;

        &--orange {
            border-left: 2px solid $v-orange;
            border-right: 2px solid $v-orange;
        }
        &--yellow {
            border-left: 2px solid $v-yellow;
            border-right: 2px solid $v-yellow;
        }
        &--yellow-green {
            border-left: 2px solid $v-yellow-green;
            border-right: 2px solid $v-yellow-green;
        }
        &--green {
            border-left: 2px solid $v-green;
            border-right: 2px solid $v-green;
        }
    }

    @include media-breakpoint-up(xl){
        margin-left: 294px;
    }

    @include media-breakpoint-up(xxl){
        margin-left: 354px;
    }
    
}

@keyframes openTab {
    0% {
        width: 0;
    }
    100% {
        width: 236px;
    }
}